.schedule-container {
	margin-top: 25px;
}
.day-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	margin-right: 10px;
}
.day-name {
	display: flex;
	align-items: center;
}
.save-button-container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
